@model DataAccess.Enities.FurnitureCategory
@{
    ViewData["Title"] = "Furniture Category";

    
    string path = Url.Content("~/Files/" + Course.Core.Common.UploadFolder.Category);
}

<style>
    .modal-dialog .modal-content {
        border-radius: 20px;
    }

    .modal-backdrop.show {
        background-color: white;
    }

</style>

<h3 class="text-center">@ViewData["Title"]</h3>


<div class="row section-search">
    <div class="col-md-3 mb-1">
        <div class="input-group ">
            <input type="text" id="Keyword" class="form-control" placeholder="Keyword" />
            <a onclick="onSearch()" class="btn btn-outline-secondary"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-1 text-end">
        <a onclick="modalAdd()" class="btn btn-success"><i class="fa fa-plus"></i></a>
    </div>
</div>




<table class="table table-striped" id="dt1" style="width: 100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Ranking</th>
            <th>Active</th>
            <th>Save By</th>
            <th>Save Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="modal" tabindex="-1" id="modal1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <input type="hidden" id="Id" />
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <input type="file" asp-for="Image" class="dropify" data-default-file="" data-max-file-size="2M" data-allowed-file-extensions="jpg png webp" />
                            <small class="form-text text-muted">RecommendSize 100 pxWidth</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label class="form-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control" maxlength="250" required />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label class="form-label">Ranking</label>
                            <input type="number" asp-for="Ranking" class="form-control" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="IsActive">
                                <label class="form-check-label">Active"</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="">Close</button>
                <button id="btnSave" type="button" class="btn btn-success" style="">Save</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
 

        const modal1 = new bootstrap.Modal('#modal1', {
        })

        // let validator = $("#form1").validate();

        $(function () {
            new DataTable("#dt1", {
                displayLength: 20,
                filter: false,
                lengthChange: false,
                processing: true,
                serverSide: true,
                order: [],
                ajax: {
                    url: "@Url.Action("GetAll", "BofFurnitureCategoryController")",
                    data: function (d) {
                        d.orderName = d.order[0] != undefined ? d.columns[d.order[0].column].data : ''
                        d.orderType = d.order[0] != undefined ? d.order[0].dir : ''
                        d.Name = $.trim($("#Keyword").val())
                    }
                },
                columns: [
                    { data: "Id", sortable: false, className: 'text-center', },
                    {
                        data: "Image",
                        sortable: false,
                        render: function (o) {
                            if (nvl(o) != "") {
                                let img = "@path/" + o
                                return "<a href='" + img + "' data-lightbox='x'><img src='" + img + "' width='60'></a>"
                            }
                            return ""
                        }
                    },
                    { data: "Name", sortable: false, className: 'text-start' },
                    { data: "Ranking", sortable: false, className: 'text-center', },
                    {
                        data: "IsActive",
                        sortable: false,
                        className: 'text-center',
                        render: function (status) {
                            return status ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-ban text-danger'></i>";
                        }
                    },
                    
                    { data: "CreateBy", sortable: false, className: 'text-center', },
                    {
                        data: "CreateDate",
                        sortable: false,
                        className: 'text-center',
                        render: function (dt) {
                            return moment(dt).format("DD/MM/YYYY HH:mm")
                        }
                    },
                    {
                        data: null,
                        sortable: false,
                        className: 'text-nowrap',
                        render: function (o) {
                            return "<a onclick=\"modalEdit('" + o.Id + "')\" class='btn btn-warning'><i class='fa fa-edit text-white'></i></a>" + "&nbsp" +
                                "<a onclick=\"del('" + o.Id + "','" + o.Name + "')\" class='btn btn-danger'><i class='fa fa-trash'></i></a>";
                        }
                    },
                ]
            })

            
            // dropifyInit()

            $(".section-search input").keypress(function (e) {
                if (e.which == 13) {
                    onSearch()
                    return false
                }
            })

            $("#btnSave").click(function () {
                if ($("#form1").valid()) {
                    save();
                }
            });
        })

        onSearch = () => $("#dt1").DataTable().ajax.reload()

        modalAdd = () => {
            // validator.resetForm()
            // dropifyReset()
            $("#modal1 input").val("")
            $("#IsActive").prop("checked", true)
            $("#modal1 h5").text("Add Furniture-Category")

            
                $("#Name").focus()
                $("#Ranking").val("")
                modal1.show()
            


        }

        modalEdit = id => {
            // validator.resetForm()

            $.getJSON("@Url.Action("GetById", "BofFurnitureCategoryController")", { id }, function (data) {
                if (nvl(data.Image) != "") {
                    dropifySetFile($("#Image").data('dropify'), "@path/" + data.Image);
                }
                $("#Id").val(data.Id)
                $("#Name").val(data.Name)
                $("#Ranking").val(data.Ranking).show()
                $("#IsActive").prop("checked", data.IsActive)
                $("#modal1 h5").text("Edit Furniture-Category")
                modal1.show()
            });
        }

        save = () => {
            debugger
            var data = new FormData();
            data.append("file1", $("#Image").prop("files")[0])
            data.append("Id", $("#Id").val())
            data.append("Name", $("#Name").val())
            data.append("Ranking", $("#Ranking").val())
            data.append("IsActive", $("#IsActive").is(":checked"))

            $.ajax("@Url.Action("Save", "BofFurnitureCategoryController")", {
                data: data,
                method: "post",
                processData: false,
                contentType: false,
                cache: false,
            }).then(function (data) {
                if (data.Success) {
                    Swal.fire({
                        title: "Saved Successfully !",
                        icon: "success"
                    })
                    $("#dt1").DataTable().ajax.reload()
                    modal1.hide()
                } else {
                    Swal.fire({
                        title: data.Message,
                        icon: "warning"
                    })
                }
            })
        }

        del = (id, key) => {
            Swal.fire({
                title: "Delete",
                text: "ConfirmDeleteMessage " + key + " ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                cancelButtonColor: "#ddd",
                confirmButtonText: "Confirm",
                cancelButtonText: "Cancel",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post("@Url.Action("Delete", "BofFurnitureCategoryController")", { id }, function (data) {
                        if (data) {
                            Swal.fire({
                                title: "DeletedSuccessfully!",
                                icon: "success",
                            })
                            $("#dt1").DataTable().ajax.reload()
                        }
                    })
                }
            })
        }

        // function nvl(value) {
        //     return (value === undefined || value === null) ? "" : value;
        // }

        // function dropifyInit() {
        //     $('.dropify').dropify();
        // }

        // function dropifyReset() {
        //     var drEvent = $('.dropify').dropify();
        //     drEvent = drEvent.data('dropify');
        //     drEvent.resetPreview();
        //     drEvent.clearElement();
        // }

        // function dropifySetFile(element, url) {
        //     var drEvent = element.data('dropify');
        //     drEvent.settings.defaultFile = url;
        //     drEvent.destroy();
        //     drEvent.init();
        // }













    </script>
}
